# Created by .gitignore support plugin (hsz.mobi)


### Java template
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Exploration result
exploration.dot
exploration.kryo

# Everything in out/
out/**
